/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif; /* Use Google Font Roboto */
    /* background-color: #222; */ /* Remove the background color */
    color: #fff; /* White text color */
}



.container {
    display: flex;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    box-sizing: border-box;
    
}

.background-image {
    background-image: url('/GoldPrint/ment.png');
    background-size:160%;
    margin-top: -1%;
    background-position: calc(85% - 77px) center; /* Slide the background image 30px to the right */
    background-repeat: no-repeat;
    flex: 1;
    overflow: hidden;
    position: relative; /* Position relative for absolute positioning */
    
}


.content {
    flex: 1;
    padding-left: 15px;
    padding-right: 5px;
    box-sizing: border-box;
    color: gold;
    max-width: 30%; /* Adjusted max-width for the content */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background color */
}

.headline, .subtext, .subheadline {
    text-align: center;
}

/* Change color of Font Awesome icons to black */
.subtext i {
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Add a slight shadow */
    transform: translateZ(5px); /* Apply a Z-axis translation */
}


.subtext {
    border: 4px solid rgb(255, 230, 0); /* Add a border with a gold color */
    padding: 10px; /* Add padding to create space between text and border */
    border-radius: 10px; /* Add rounded corners for a softer appearance */
    display: inline-block; /* Ensure the border wraps around the text */
    animation: flashBorder 2s infinite alternate; /* Apply the animation */  
}

@keyframes flashBorder {
    0% {
        border-color: transparent; /* Set border color to transparent at the beginning */
    }
    50% {
        border-color: rgb(200, 255, 0); /* Set border color to blue halfway through the animation */
    }
    100% {
        border-color: transparent; /* Set border color back to transparent at the end */
    }
}


.headline {
    color: black;
    font-weight: bold;
}

.subheadline, .course-info h2{
    color: #000; /* Black text color */
    font-weight: bold;
}






.registration-form {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.registration-form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: 1px solid #ccc; /* Add border */
}

.registration-form button {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: none;
    background-color: #ffbf00;
    color: black;
    cursor: pointer;
    animation: shine 2s infinite;
}

.registration-form input::placeholder {
    font-weight: bold; /* Make the placeholder text bold */
}


.registration-form input[type="text"] {
    font-weight: bold; /* Make the text entered by the user bold */
}



@keyframes shine {
    0% {
        background-color: #007bff;
    }
    50% {
        background-color: #0056b3;
    }
    100% {
        background-color: #007bff;
    }
}

.registration-form button:hover {
    background-color: #ffd700;
}

.line {
    width: 100%;
    height: 2px;
    background-color: gold;
    margin-top: 10px;
    position: relative;
}

.line::before, .line::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: inherit;
    filter: blur(10px);
}

.line::before {
    left: 0;
}

.line::after {
    right: 0;
}



/* Adjust styles for smaller screens  1100default*/
@media (max-width: 1400px) {
    .container {
        flex-direction: column;
    }

    .background-image {
        height: 50vh;
        background-size: cover;
        
    }

    .content {
        max-width: 100%;
        padding: 20px;
        height:auto;
    } 
   
}

@media (min-width: 800px) {
    .content {
        max-width: 100%;
        padding: 80px;
    }

    .subtext {
        margin-left: 300px;
    }

}






@media (max-width: 767px) {
    .headline {
        margin-top: -30px; /* Add margin to create space between the logo and the headline */
        font-size: 1.4rem; /* Adjust font size for mobile devices */
    }
}


@media (max-width: 1767px) {
    .headline {
        margin-top: 20px; /* Add margin to create space between the logo and the headline */
        font-size: 1.4rem; /* Adjust font size for mobile devices */
    }
}

h5 {
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Apply the Roboto font */
    font-weight: bold; /* Optionally adjust font weight */
}

h5 {
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Apply the Roboto font */
    font-weight: bold; /* Optionally adjust font weight */
    position: relative; /* Position relative for absolute positioning of line */
    margin-bottom: 20px; /* Add margin to create space between text and line */
}

h5::after {
    content: ''; /* Add content for pseudo-element */
    display: block; /* Make it a block-level element */
    height: 2px; /* Set the height of the line */
    background-color: gold; /* Set the color of the line */
    position: absolute; /* Position absolutely relative to the h4 element */
    bottom: -10px; /* Position the line below the h4 text */
    left: 0; /* Position the line at the beginning of the container */
    width: calc(120% - 40px); /* Set the width to extend from the beginning to the end of the container's corner */
}







/* Adjust styles for smaller screens */
@media (min-width: 767px) {
    .video video{
        width: 100%; /* Set the width to 100% to cover the entire width of the page */
        margin: 0; /* Remove any margin */
        border: none; /* Remove border */
        border-radius: 0; /* Remove border radius */
    }
}










/* Adjust styles for smaller screens default 768px*/
@media (min-width: 1768px) {
    .logo-mobile {
        display: none; /* Hide the logo on larger screens */
        
        
    }
}

@media (max-width: 767px) {
    .logo-mobile {
        display: block; /* Display the logo on smaller screens */
        max-width: 70%; /* Adjust the maximum width of the logo for smaller screens */
        margin: 0 auto 30px; /* Add margin to center the logo vertically and provide space below it */
        
    }

    .headline {
        margin-top: -30px; /* Add margin to create space between the logo and the headline */
    }

}


@media (min-width: 375px) {
    .picture-text {
        text-align: justify; /* Align text to both left and right edges */
        max-width: 90%; /* Limit the maximum width of the text */
        margin: 0 auto; /* Center the text horizontally */
        padding: 20px; /* Add padding for better readability */
        background-color: rgba(255, 255, 255, 0.9); /* Add a light background color */
        border-radius: 10px; /* Add rounded corners for a softer appearance */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
        margin-top: 0; /* Adjust top margin */
        margin-bottom: -150px; /* Adjust bottom margin */
        margin-left: 85px; /* Reset left margin */
        margin-right: auto; /* Reset right margin */
    }

    .fab {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .picture {
        margin-left: -50px;
        margin-top: 20px;
    }



    h5::after {
        content: ''; /* Add content for pseudo-element */
        display: block; /* Make it a block-level element */
        height: 2px; /* Set the height of the line */
        background-color: gold; /* Set the color of the line */
        position: absolute; /* Position absolutely relative to the h4 element */
        bottom: -10px; /* Position the line below the h4 text */
        left: 0; /* Position the line at the beginning of the container */
        width: calc(120% - 40px); /* Set the width to extend from the beginning to the end of the container's corner */
    }

    .video {
        max-width: 100%; /* Ensure the videos don't exceed the width of their container */
        margin-bottom: 20px; /* Add some spacing between videos */
        
    }
    
    .video video {
        width: 100%; /* Make the video fill its container */
        height: auto; /* Ensure the video maintains its aspect ratio */
        
    }
    

    
}







@media (min-width: 800px) and (max-width: 1380px){
    .logo-mobile {
        max-width: 45%;
        margin-left: 320px;
        margin-top: -80px;
        text-align: center;
    }

    .fab {
        margin-bottom: 100px;
        margin-top: 10px;
    }

    .need-a-hand {
        margin-bottom: 100px;
        margin-top: -70px;
    }

    .picture {
        width: 100%; /* Adjust the width as needed */
    height: auto; /* Ensure the aspect ratio is maintained */
    max-width: 800px; /* Limit the maximum width to 800px */
    display: block; /* Ensure the image behaves as a block element */
    margin: 50px auto -150px 180px; /* Adjust the margins to position the image */
    }

    .picture-text {
        text-align: justify; /* Align text to both left and right edges */
        max-width: 600px; /* Limit the maximum width of the text */
        margin: 0 auto; /* Center the text horizontally */
        padding: 20px; /* Add padding for better readability */
        background-color: rgba(255, 255, 255, 0.9); /* Add a light background color */
        border-radius: 10px; /* Add rounded corners for a softer appearance */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
        margin-left: calc(50% - 300px); /* Adjust left margin for centering */
        margin-right: calc(50% - 300px); /* Adjust right margin for centering */
        margin-top: -40px; /* Adjust top margin */
        margin-bottom: -150px; /* Adjust bottom margin */
    }

    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      .subtext {
        animation: blink 4s infinite; /* Adjust animation duration and iteration count as needed */
      }

    
}



@media (min-width: 1024px) {
    .video video {
        width: 350px;
        height: 250px;
        margin-left: 300px;
        margin-top: 20px;
    }
}









@media (max-width: 1767px) {
    .testimonial-text {
        text-align: center;
        margin-top: 20px;
        color: rgb(7, 7, 7);
        font-weight: bold;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        
    }



    .video {
        width:30%;
        padding: none;
        margin-bottom: 20px;
        border: 4px solid gold;
        border-radius: 100px;
        overflow: hidden;
        position: relative; /* Adding position relative for absolute positioning of overlay */
    }

    .video iframe {
        border: none;
        width: 100%;
    }

    

    .video-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        text-align: center;
    }



    

    .video-text {
        color: #000;
        text-align: center;
        background-color: #f2f2f2; /* Set background color */
        padding: 5px; /* Add padding to create space between text and background */
        border-radius: 10px; /* Add rounded corners for a professional look */
        margin-bottom: 20px; /* Add margin to create space between the text and the next element */
        margin-left: 5px;
        margin-right: 5px;
        
    }

    .picture-container {
        width: 110%;
        margin-bottom: 20px;
        position: relative;
    }

    .picture {
        width: 100%;
        
    }

    .picture-text {
        position: absolute;
        bottom: 5;
        left: -90px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        text-align: center;
    }
}

/*the two videos to be in column and fit and with the proper width on mobile devises*/
@media (min-width: 168px) {
    .video {
        width: 80%;
        
        
        
    }

    .picture-container {
        margin-left: 90px;
        
        
        
    }

    .picture-container {
        left: -10px;
    }

    .need-a-hand {
        margin-left: 70px;
    }


    .video video {
        height: 190px;
        border-radius: 50px;
        width: 100%;
        margin-left: px;
        
    }
}


.highlighted {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow effect */
    background-color: gold; /* Add background color */
    color: black; /* Set text color */
    padding: 2px; /* Add padding for better visibility */
    border-radius: 3px; /* Add border radius for rounded corners */
}





/* Add this CSS at the end or in your existing CSS file */

/* Add this CSS to your existing CSS or in a separate file */
.contact-info {
    position: relative;
    text-align: center;
    margin-top: -20px; /* Adjust margin as needed */
    margin-bottom: 100px;
    margin-left: -50px;
    font-weight: bold;
    color: #000;
}

.need-a-hand {
    position: absolute;
    top: -70px; /* Adjust vertical position */
    left: 0;
    right: 0;
    font-weight: bold;
    
}

/*
.email {
    font-weight: bold;
    font-size: 18px; 
    
}
*/


.social-media {
    text-align: center;
    margin-top: 20px;
    margin-left: -200px;
   
}

.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #bc2a8d; /* Instagram color */
    
}

.social-icon:hover {
    color: #007bff; /* Change color on hover */
}

.social-icon i {
    transition: color 0.3s ease; /* Smooth transition on color change */
}

.social-icon:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

.social-icon:before {
    font-size: 24px;
    margin: 0 10px;
}

.social-icon:hover:before {
    color: #007bff;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .social-icon {
        font-size: 20px;
        
    }
}

/* Adjust styles for smaller screens */
@media (max-width: 576px) {
    .social-icon {
        font-size: 18px;
    }
}

/* Copyright notice */
.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666; /* Adjust color */
}

.copyright a {
    color: #007bff; /* Adjust link color */
}




@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .subtext {
    animation: blink 6s infinite; /* Adjust animation duration and iteration count as needed */
  }
  




/* Add this CSS to your existing CSS or in a separate file 
.subscribe-button {
    text-align: center;
    margin-top: 20px;
}

#subscribe-btn {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#subscribe-btn:hover {
    background-color: #0056b3; 
}
*/




.marquee-container {
    width: 100%;
    overflow: hidden;
}

.marquee-text {
    font-size: 18px;
    color: black;
}





.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px; /* Increase the font size for a larger cross */
    cursor: pointer;
    color: #333; /* Color of the cross */
    z-index: 9999;
    transition: transform 0.3s ease; /* Add animation for smoother transition */
    
}

.close:hover {
    transform: scale(1.2); /* Increase size on hover */
}


.gold-background {
    background-color: gold; /* Set gold background color */
    padding: 5px; /* Add some padding for better appearance */
    border-radius: 50px;
}





/* Video Pop-up Styles */
.video-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    z-index: 9999; /* Set z-index to ensure it's on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    background-color: none; /* Semi-transparent black background */
    
    
}

.video-popup-content {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 50px;
    border: 5px solid gold;
    /* Add relative positioning to the container */
    position: relative;
    /* Add background image */
    background-image: url('/GoldPrint/logoMentoria.png');
    background-size: cover; /* Ensure the background image covers the entire space */
    background-position: center; /* Center the background image */
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 2px;
    font-size: 46px !important;
    cursor: pointer;
    color: #333; /* Color of the cross */
    z-index: 9999; /* Ensure the close button appears above other elements */
    transition: transform 0.3s ease; /* Add animation for smoother transition */
    border-radius: 60%; /* Faz com que o fechamento tenha bordas arredondadas, criando um círculo */
    padding: 2px; /* Adiciona um pouco de espaço dentro do círculo */
    height: 30px;
    background-color: gold; /* Cor de fundo do círculo */
}

.volume-message {
    display: none; /* Hide the message by default */
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 15px 20px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px;
    color: #fff; /* White text color */
    text-align: center; /* Center-align text */
    font-family: Arial, sans-serif; /* Use a sans-serif font */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.popup-video {
    max-width: 100%; /* Set the maximum width of the video to 100% */
    height: 350px; /* Ensure the video maintains its aspect ratio */
    margin-left: 200px;
    margin-left: -5px;
    margin-top: -2.5%;
    border-radius: 25px; /* Adiciona curvatura aos cantos do vídeo */
    border: 1px solid gold;
}

.video-popup {
    height: 370px;
    
    
}

.video video {
    margin-left: 0%;
    margin-top: 0%;
}








/* Adjust video size for smaller screens */
@media (max-width: 767px) {
    #videoPopup {
        width: 100%; /* Set the video width to 100% for smaller screens */
        height: 30%; /* Ensure the video maintains its aspect ratio */
        margin: 10%;
        left: 500px;
        top: 200px;
    }
    

    .video-popup-content {
        position: fixed;
        top: 20%; /* Adjust vertical position */
        left: 48%; /* Adjust horizontal position */
        transform: translate(-50%, -50%); /* Center the container */
        background-color: white; /* White background */
        padding: 20px;
        max-width: 90%; /* Adjust maximum width */
        width: 90%; /*Set a fixed width */
        height: auto; /* Adjusted height to auto */
        border-radius: 30px;
        
    }
    

    .video-popup {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed position */
        z-index: 9999; /* Set z-index to ensure it's on top of other elements */
        left: 0;
        top: 0;
        max-width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5); /* Semi-transparent black background */
        
    }

    .popup-video {
        max-width: 200%; /* Set the maximum width of the video to 100% */
        width: 200%; /* Set the width of the video to 100% */
        height: auto; /* Ensure the video maintains its aspect ratio */
        margin-left: -50px;
        
        
        
    }

    .popup-video-container {
        max-width: 60%; /* Set a smaller maximum width for mobile devices */
        width: 55%;
        margin: 0 auto; /* Center the video horizontally */
        margin-left: 35px;
        margin-bottom: -20px;
        margin-top: -15px;
    }

    .volume-message {
        display: none; /* Hide the message by default */
        position: absolute;
        bottom: 20px;
        left: 45%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
        padding: 15px 2px; /* Add padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 12px;
        color: #fff; /* White text color */
        text-align: center; /* Center-align text */
        font-family: Arial, sans-serif; /* Use a sans-serif font */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }

    

    
}






  
